
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Adventure Website</title>
    <link rel="stylesheet" href="/static/css/style.css">
    <script src="/static/js/script.js" defer></script>
</head>
<body>
    <header>
        <div class="top-header">
            <div class="site-info">
                <h1>Adventure </h1>
                <p class="tagline">Discover your next great adventure!</p>
            </div>
    <br>
            <!-- Navigation Section -->
            <nav>
                <ul>
                    <li class="{% if request.path == '/'  %} active {% endif %}"><a href="/">Home</a></li>
                    <li class="{% if request.path == '/aboutus/'  %} active {% endif %}"><a href="/aboutus">About Us</a></li>
                    <li class="{% if request.path == '/services/'  %} active {% endif %}"><a href="{% url 'services' %}">Services</a></li>
                    <li class="{% if request.path == '/contact/'  %} active {% endif %}"><a href="/contact">Contact</a></li>
                    <li ><a href="/book" class="cta-button">Book Now</a></li> <!-- Call-to-action button -->
                </ul>
            </nav>
        </div>
    
        <!-- Website Name and Tagline Section (Centered Below) -->
        
    </header>
    
    
    
    