{% extends "base.html" %}

{% block content %}


    <section class="services">
        <h2 >Explore Our Adventures</h2>
        <div class="services-list">
            {% for n in servicesData %}
            <div class="service-item">
                <img src="/static/img/{{n.service_photo}}" alt="{{n.service_title}}">
                <h3>{{n.service_title}}</h3>
                <p>{{n.service_des|safe|capfirst}}</p>
            </div>
            {% endfor %}
        </div>
    </section>

</body>
</html>


{% endblock content %}